{% extends "FOSUserBundle::layout.html.twig" %}
{% block body %}
	<br>
	<br>
	{% block fos_user_content %}
		<div class="login-box">
		    <div class="login-box-body">
		        <h3 style="border-bottom: 1px solid #c5c5c5; color: #000000 ">
		            {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
		        </h3>
		    </div>
		</div>
	{% endblock %}
{% endblock %}