{% extends "FOSUserBundle::layout.html.twig" %}
{% block body %}
<br>
<br>
{% block fos_user_content %}
<h3 style="border-bottom: 1px solid #c5c5c5; color: #000000 ">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</h3>
<br>
<br>
{% endblock fos_user_content %}
{% endblock body %}
