{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear nuevo Proyecto Presupuesto</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('proyectopresupuesto') }}">
           Ver todos los presupuestos
        </a>
    </li>
</ul>
{% endblock %}
