{% extends '::base.html.twig' %}    
    {% block title  %}An Error Occurred: {{ status_text }}{% endblock %}
    {% block body %}
  <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Página no encontrada</h3>

          <p>
           No se pudo encontrar la página que estaba buscando   <a class= "btn btn-default btn-lg btn-warning"  href="{{ path('homepage') }}">
            Regresar
            </a>
          </p>

          <form class="search-form">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->

      
    {% endblock %}