{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Actividad</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('actividad') }}">
            Back to the list
        </a>
    </li>
    {% if is_granted('ROLE_GERENTE') %}
    	<li>{{ form(delete_form) }}</li>
	{% endif %}
</ul>
{% endblock %}
