{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Actividad</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('actividad') }}">
           Ver todas las actividades
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_ACTIVIDADES') %}
        <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button> </li>
    	<div class="modal">
      {{ form(delete_form) }}
    </div>
	{% endif %}
</ul>
{% endblock %}

{% block javascripts %}
    <script>
         $(document).ready(function (){
          $("#simple-confirm").click(function (event) {
          swal({   
                title: "¿Seguro que lo desea eliminar?",   
                text: "Esta acción no se puede deshacer y la información relacionada se puede ver afectada",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Sí, eliminar registro!",   
                cancelButtonText: "Cancelar",   
                closeOnConfirm: false,   
                closeOnCancel: false 
              }, 
                function(isConfirm){   
                  if (isConfirm) {     
                    $('form[name="form"]').submit();
                    swal("Eliminando", "Se eliminará el archivo", "success");   
                  } else {     
                    swal("Cancelado", "Se ha cancelado la operación", "error");   
                  } 
              });
        });
        });
    </script>
{% endblock %}