{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Actividad</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('actividad') }}">
           Ver todas las actividades
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_ACTIVIDADES') %}
    	<li>{{ form(delete_form) }}</li>
	{% endif %}
</ul>
{% endblock %}
