{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creación de Actividades</h1>

    {{ form(form) }}

      <br>
      <br>
        <a class="btn btn-sm btn-info" href="{{ path('actividad') }}">
            Mostrar todas las actividades
    	</a>
      <br>
      <br
{% endblock %}
