{% extends '::base.html.twig' %}

{% block javascripts %}
	  <script>
        $(document).ready(function() { 
            $("#appbundle_planilla_excel_hoja").select2({ width: '8%' });       
        });
    </script>
{% endblock %}

{% block body -%}
    <h1>Subir planilla en Excel</h1>

    {{ form(form)}}
    <br>
    <br>
    <br>
{% endblock %}
