{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editando Contacto de Cliente</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('contactocliente') }}">
          Regresar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
