<!-- Modal -->
<div class="modal fade" id="modalContacto" tabindex="-1" role="dialog" aria-labelledby="labelTipoDocumento">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="labelTipoDocumento">Crear Nuevo Contacto</h4>
      </div>
      <div class="modal-body">
        {{ render(controller('AppBundle:ContactoCliente:new')) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
