{% extends '::base.html.twig' %}

{% block body -%}
	<br>
    <h1>Editar Departamento</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('departamento') }}">
            Regresar a ver todos los departamentos
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_DEPARTAMENTO') %}
         <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button> </li>
   
   <div class="modal">
      <div class="dialog confirm">
          <h1>Confirmación de eliminación</h1>
          <div class="msg"></div>
          <div class="form-group toolbar">
            <button class="btn btn-default cancel" type="button" data-default="Cancel">Cancelar</button>
            <button class="btn btn-danger ok" type="submit" data-default="OK">Eliminar</button>
          </div>
        </div>
        <div class="dialog alert">
        <h1>Alerta</h1>
          <div class="msg"></div>
          <div class="form-group toolbar">
            <button class="btn btn-primary cancel" type="submit">OK</button>
          </div>
        </div>
        {{form(delete_form)}}
    </div>
    
    {% endif %}
</ul>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function (){
            $("#simple-confirm").click(function (event) {
            event.stopPropagation();
            var message = `
            ¿Seguro que desea eliminar las horas registradas?
            La información relacionada puede verse afectada.
            <b>Esta acción no se puede deshacer</b>
            `
            options = {
              ok: "Sí, deseo eliminar la información",
              cancel: "Cancelar"
            }
            $.dialog.confirm(message, options).onClose(function (response) {
              if (response) {
                $.dialog.alert("Se ha eliminado el registro").autoClose(2000);
                document.form.submit();
              } else {
                $.dialog.alert("Se ha cancelado la operación").autoClose(2000);
              }
            });
          });

        });
       
    </script>

{% endblock %}