{% extends '::base.html.twig' %}

{% block body -%}
	<br>
    <h1>Editar Departamento</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('departamento') }}">
            Regresar a ver todos los departamentos
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_DEPARTAMENTO') %}
         <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button> </li>
   
   <div class="modal">
        {{form(delete_form)}}
    </div>
    
    {% endif %}
</ul>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/confirm-dialog.js')}}"></script>
{% endblock %}