{% extends '::base.html.twig' %}

{% block body -%}
    <br>
    <h1>Listado de Departamentos</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre del Departamento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombreDepartamento }}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-xs btn-info" href="{{ path('departamento_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a class="btn btn-xs btn-warning" href="{{ path('departamento_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-default btn-block" href="{{ path('departamento_new') }}">
        Crear nuevo registro
    </a>
   
    {% endblock %}
