{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear nuevo Departamento</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('departamento') }}">
            Mostrar todos los departamentos
        </a>
    </li>
</ul>
{% endblock %}
