{% extends "::base.html.twig" %}

{% block body %}
	<br>
	<br>
	<br>
     <h3 style="border-bottom: 1px solid #c5c5c5; color: #000000 ">{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</h3>
{% endblock body %}

