{% extends '::base.html.twig' %}
{% block javascripts %}
    <script>
      $(document).ready(function (){
          $("#simple-confirm").click(function (event) {
          swal({   
                title: "¿Seguro que lo desea eliminar?",   
                text: "Esta acción no se puede deshacer y afectará la información relacionada",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Sí, eliminar registro!",   
                cancelButtonText: "Cancelar",   
                showLoaderOnConfirm: true, 
                closeOnConfirm: false,   
                closeOnCancel: false 
              }, 
                function(isConfirm){   
                  if (isConfirm) {     
                    $('form[name="form"]').submit();
                    swal("Eliminando", "Se eliminará el archivo", "success");   
                  } else {     
                    swal("Cancelado", "Se ha cancelado la operación", "error");   
                  } 
              });
        });
        });
     
    </script>
{% endblock %}
{% block body -%}
    <h1>Editar Cliente</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('cliente') }}">
           Ver todos
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_CLIENTES') %}
    <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button>
    </li>
    <div class="modal">
     {{ form(delete_form) }}
    </div>
    {% endif %}
   
</ul>
{% endblock %}
