{% extends '::base.html.twig' %}
{% block javascripts %}
   <script src="{{asset('js/confirm-dialog.js')}}"></script>
{% endblock %}
{% block body -%}
    <h1>Editar Cliente</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('cliente') }}">
           Ver todos
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_CLIENTES') %}
    <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button>
    </li>
    <div class="modal">
     {{ form(delete_form) }}
    </div>
    {% endif %}
   
</ul>
{% endblock %}
