{% extends '::base.html.twig' %}
{% block javascripts %}
    <script src="{{asset('js/bootbox.min.js')}}"></script>
    <script>
        $(document).on("click", ".confirm", function(e) {
            bootbox.dialog({
                message: "Si elimina un cliente se eliminarán todos las referencias en los registros",
                title: "Confirmar eliminación",
                buttons: {
                    cancel: {
                      label: "Cancelar",
                      className: "btn-primary",
                      callback: function() {
                       
                      }
                    },
                    main: {
                      label: "Eliminar",
                      className: "btn-danger",
                      callback: function() {
                        $('form[name="form"]').submit();            
                        }
                    },
                }
            });
        });
    </script>
{% endblock %}
{% block body -%}
    <h1>Editar Cliente</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('cliente') }}">
           Ver todos
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_CLIENTES') %}
    <li><a class="btn btn-danger confirm">Eliminar</a>
    </li>
    {% endif %}
    {{ form(delete_form) }}
</ul>
{% endblock %}
