{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Cliente</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('cliente') }}">
           Ver todos
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
