/** Deprecated `@screen-xs` as of v3.0.1*/
/** Deprecated `@screen-xs-min` as of v3.2.0*/
/** Deprecated `@screen-phone` as of v3.0.1*/
/** Deprecated `@screen-sm` as of v3.0.1*/
/** Deprecated `@screen-tablet` as of v3.0.1*/
/** Deprecated `@screen-md` as of v3.0.1*/
/** Deprecated `@screen-desktop` as of v3.0.1*/
/** Deprecated `@screen-lg` as of v3.0.1*/
/** Deprecated `@screen-lg-desktop` as of v3.0.1*/
/*
 * Sirve para quitar el redondeo de las esquinas de todos los botones
.btn {
    border-radius: 1px;
}
*/
/* empieza CSS para radio buttons */
/* Termina CSS para radio buttons */
/*
    CSS para el footer.
 */
/* Custom Colored Panels */
.navbar-inverse {
  background-color: #004C4C;
  border-color: transparent;
}
.navbar-inverse .navbar-brand:hover {
  color: #a6974c;
  background-color: transparent;
}
.navbar-inverse .navbar-brand:focus {
  color: #a6974c;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #a6974c;
}
.navbar-inverse .navbar-nav > li > a:focus {
  color: #a6974c;
}
.btn-custom {
  color: white;
  background-color: #E26E67;
}
.navigation li {
  float: left;
  margin: 0;
  padding: 0;
}
.navigation li a {
  padding: 20px 30px;
  float: left;
}
.navigation li.active a {
  background: #ffffff;
  color: #428bca;
}
.user-info-block .user-body {
  float: left;
  padding: 5%;
  width: 90%;
}
.user-body .tab-content > div {
  float: left;
  width: 100%;
}
.user-body .tab-content h4 {
  width: 100%;
  margin: 10px 0;
  color: #333333;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.wizard {
  margin: 20px auto;
  background: #fff;
}
.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}
.wizard .nav-tabs > li.active > a {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
.wizard .nav-tabs > li.active > a:hover {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
.wizard .nav-tabs > li {
  width: 25%;
}
.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard > div.wizard-inner {
  position: relative;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;
}
.wizard li.active span.round-tab i {
  color: #5bc0de;
}
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}
.wizard h3 {
  margin-top: 0;
}
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i {
  color: #555555;
}
span.round-tab:hover {
  color: #333333;
  border: 2px solid #333;
}
.btn span.glyphicon {
  opacity: 0;
}
.btn.active span.glyphicon {
  opacity: 1;
}
.width-select2 {
  width: 50%;
}
.hide-submit {
  visibility: hidden;
}
.footer {
  background-color: #2c3e50;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
footer {
  margin: 0;
  padding: 0;
}
.sticky-footer {
  position: fixed;
  bottom: 0;
  background-color: #1a242f;
  width: 100%;
}
.white {
  color: #ffffff;
}
.white a {
  color: #ffffff;
}
.gi-2x {
  font-size: 2em;
  cursor: pointer;
}
.gi-3x {
  font-size: 3em;
}
.gi-4x {
  font-size: 4em;
}
.gi-5x {
  font-size: 5em;
}
.pointer-cursor {
  cursor: pointer;
}
.bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 8%;
  background-color: #1a242f;
}
.huge {
  font-size: 40px;
}
.panel .panel-footer {
  color: #2c3e50;
}
.panel-green {
  border-color: #330036;
}
.panel-green > .panel-heading {
  border-color: #330036;
  color: #ffffff;
  background-color: #330036;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #427aa1;
}
.panel-red > .panel-heading {
  border-color: #427aa1;
  color: #ffffff;
  background-color: #427aa1;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-red .panel-footer {
  cursor: pointer;
}
.panel-yellow {
  border-color: #56666b;
}
.panel-yellow > .panel-heading {
  border-color: #56666b;
  color: #ffffff;
  background-color: #56666b;
}
.panel-yellow > a {
  color: #b52b27;
}
.panel-yellow > a:hover {
  color: #ffff00;
}
.panel-besh {
  border-color: #8B684D;
}
.panel-besh > .panel-heading {
  border-color: #8B684D;
  color: #ffffff;
  background-color: #8B684D;
}
@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
