<div id="loginbox" class="mainbox col-md-12"> 
	<div class="panel panel-default" >
 		<div class="panel-heading">
                <div class="panel-title text-center">Actualizar Perfil </div>
         </div>     

         <div class="panel-body" >

			
          {{form(form)}}
    			
           
    	</div>                     
	</div>  
</div>


  

