<div class="modal">
      <div class="dialog confirm">
          <h1>Contador en tiempo real</h1>
          <div class="msg"></div>
          <div class="form-group toolbar">
            <button class="btn btn-danger cancel" type="button" data-default="Cancel">Cancelar</button>
            <button class="btn btn-primary ok" type="submit" data-default="OK">Guardar</button>
          </div>
        </div>
        <div class="dialog alert">
        <h1>Alerta</h1>
          <div class="msg"></div>
          <div class="form-group toolbar">
            <button class="btn btn-primary cancel" type="submit">OK</button>
          </div>
        </div>
    </div>
  