{% extends '::base.html.twig' %}

{% block javascripts %}
      <script>
        $(document).ready(function() { 
            $("#appbundle_registrohoras_fechaHoras_day").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_month").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_year").select2({ width: '10%' });           
        });
    </script>
{% endblock %}

{% block body -%}
    <h1>Nuevo Registro de horas invertidas</h1>

    {{ form_start(form) }}

     
            
    {{ form_row(form.fechaHoras, { 'style': 'inline' })}}

	
    {{form_end(form)}}

        <br>
        <br>
        <a class="btn btn-default btn-sm" href="{{ path('registrohoras') }}">
            Ver todas las horas ingresadas
        </a>
 
        <br>
        <br>
{% endblock %}
