{% extends '::base.html.twig' %}


{% block body -%}
    <h1>Nuevo Registro de horas invertidas</h1>

    {{ form_start(form) }}

	
	{% form_theme form _self %}

    {% block _appbundle_registrohoras %}
        <div class="form-inline">
            
           {{ form_row(form.fechaHoras)}}
         </div>
       
    {% endblock %}
	
    {{form_end(form)}}

        <ul class="record_actions">
    <li>
        <a href="{{ path('registrohoras') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
