{% extends '::base.html.twig' %}


{% block body -%}
    <h1>Nuevo Registro de horas invertidas</h1>

    {{ form_start(form) }}

	
	{% form_theme form _self %}

    {% block _appbundle_registrohoras %}
        <div class="form-inline">
            
           {{ form_row(form.fechaHoras)}}
         </div>
       
    {% endblock %}
	
    {{form_end(form)}}

        <br>
        <br>
        <a class="btn btn-default btn-sm" href="{{ path('registrohoras') }}">
            Ver todas las horas ingresadas
        </a>
 
        <br>
        <br>
{% endblock %}
