{% extends '::base.html.twig' %}

{% block body -%}
	<br>
    <h1>RegistroHorasPresupuesto edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
    <li>
        <a href="{{ path('horaspresupuesto') }}">
            Ver todos los registros de presupuesto
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_PRESUPUESTOS') %}
        <li>{{ form(delete_form) }}</li>
    {% endif %}
</ul>
{% endblock %}
