{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Registro de Horas Presupuesto</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('horaspresupuesto') }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
