{% extends '::base.html.twig' %}

{% block title %}
    Subir Clientes
{% endblock %}

{% block body -%}
    <h1>Subir clientes en Excel</h1>

    {{ form(form)}}
    <br>
    <br>
    <p>
    <br>
{% endblock %}
