{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Puesto</h1>

  	{{form_start(form)}}
  	{% form_theme form _self %}

    {% block _userbundle_puesto_date %}
        <div class="form-inline">
            
           {{ form_row(form.date)}}
         </div>
       
    {% endblock %}
  	{{form_end(form)}}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('puesto') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock %}
