{% extends '::base.html.twig' %}

{% block javascripts %}

    <script>
        $(document).ready(function(){
            $('#userbundle_puesto_date_day').select2({width: '8%'});
            $('#userbundle_puesto_date_month').select2({width: '8%'});
            $('#userbundle_puesto_date_year').select2({width: '10%'});
        });
    </script>
{% endblock %}

{% block body -%}
    <h1>Editar Puesto</h1>

  	{{form_start(form)}}
  
            
   {{ form_row(form.date, { 'style': 'inline' })}}
      

  	{{form_end(form)}}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('puesto') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock %}
